{% extends "layout/base.html" %}
{% block title %} Life In Photos {% endblock %}
{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="https://data.whicdn.com/images/319584564/large.jpg">
              <img src="https://data.whicdn.com/images/319584564/large.jpg" alt="" style="width:100%">
              <div class="caption">
                <p>Iftar With Onmar</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <a href="https://data.whicdn.com/images/319957742/large.jpg">
              <img src="https://data.whicdn.com/images/319957742/large.jpg" alt="" style="width:100%">
              <div class="caption">
                <p>Sebelum Masuk Hiks</p>
              </div>
            </a>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="https://data.whicdn.com/images/319584594/large.jpg">
              <img src="https://data.whicdn.com/images/319584594/large.jpg" alt="" style="width:100%">
              <div class="caption">
                <p>Iftar With Misquens</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <a href="https://data.whicdn.com/images/319584608/large.jpg">
              <img src="https://data.whicdn.com/images/319584608/large.jpg" alt="" style="width:100%">
              <div class="caption">
                <p>Jakoon</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <a href="https://data.whicdn.com/images/319584626/large.jpg">
              <img src="https://data.whicdn.com/images/319584626/large.jpg" alt="" style="width:100%">
              <div class="caption">
                <p>Millenials</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <a href="https://data.whicdn.com/images/319957750/large.jpg">
              <img src="https://data.whicdn.com/images/319957750/large.jpg" alt="" style="width:100%">
              <div class="caption">
                <p>Billiard Itu Susah</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
    {% endblock %}
